header {
  height: 90px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1.5rem;
  font-weight: 500;

  .logo {
    min-width: 25%;
    display: flex;
    align-items: center;
    gap: 15px;
    span {
      color: $primary;
    }
  }

  nav {
    padding: 0 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: #ffffff;

    .active {
      font-weight: 900;
      text-decoration: underline;
    }
  }
}
