@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

* {
  font-family: "Roboto", serif;
}

h1 {
  font-size: 3rem;
}

.highlight {
  color: #ff0101;
}

.emphasis {
  color: #282d30;
  font-weight: 700;
}

.subtext {
  color: #74798c;
  font-weight: 500;
}

.component.activity {
  position: relative;
  height: 100%;
  width: 100%;
}
.component.activity .custom-tooltip {
  padding: 10px;
  background-color: #e60000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #ffffff;
  font-size: 0.625rem;
  font-weight: 500;
}
.component.activity .custom-axis {
  font-size: 0.875rem;
  font-weight: 500;
}
.component.activity .caption {
  position: absolute;
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.938rem;
}
.component.activity .caption .label {
  display: flex;
  gap: 30px;
  font-size: 0.875rem;
}
.component.activity .caption .label .dot::before {
  content: " ";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.component.activity .caption .label .dot.black::before {
  background-color: #282d30;
}
.component.activity .caption .label .dot.red::before {
  background-color: #e60000;
}

.component.sessions {
  height: 100%;
  width: 100%;
  position: relative;
}
.component.sessions .caption {
  position: absolute;
  width: 80%;
  padding: 30px;
  font-weight: 500;
  color: #ffffff;
  font-size: 0.938rem;
  opacity: 0.5;
}
.component.sessions .custom-tooltip {
  padding: 10px;
  background-color: #ffffff;
  color: #282d30;
  font-size: 0.625rem;
  font-weight: 500;
}

.component.performance {
  height: 100%;
  width: 100%;
}
.component.performance .recharts-layer {
  text-transform: capitalize;
  font-size: 0.75rem;
  font-weight: 500;
}

.component.score {
  height: 100%;
  width: 100%;
  position: relative;
}
.component.score .label {
  position: absolute;
  z-index: 99;
  padding: 30px;
  color: #282d30;
  font-size: 0.938rem;
  font-weight: bold;
}
.component.score .caption {
  position: absolute;
  height: 60%;
  width: 60%;
  margin: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
  border-radius: 50%;
  color: #74798c;
  font-weight: 500;
  text-wrap: balance;
  line-height: 1.8rem;
}
.component.score .caption .emphasis {
  color: #282d30;
  font-size: 1.625rem;
  font-weight: bold;
}

.component.nutrition {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.component.nutrition > div {
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #fbfbfb;
  border-radius: 5px;
}
@media (max-width: 1240px) {
  .component.nutrition > div {
    padding: 20px;
    gap: 20px;
  }
}
.component.nutrition .dataentry .emphasis {
  font-size: 1.25rem;
  padding-bottom: 5px;
}
.component.nutrition .dataentry .subtext {
  font-size: 0.875rem;
}

.loader {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff0101;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#content {
  display: flex;
  height: calc(100vh - 90px);
}
#content main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content .centered {
  padding: 30px;
  width: 100%;
  max-width: 1180px;
}
@media (max-width: 1240px) {
  #content .centered {
    padding: 20px;
  }
}

header {
  height: 90px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
header .logo {
  min-width: 25%;
  display: flex;
  align-items: center;
  gap: 15px;
}
header .logo span {
  color: #ff0101;
}
header nav {
  padding: 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #ffffff;
}
header nav .active {
  font-weight: 900;
  text-decoration: underline;
}

#sidebar {
  min-width: 110px;
  height: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
#sidebar nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
#sidebar .copyright {
  color: white;
  font-size: 0.75rem;
  font-weight: 500;
  writing-mode: vertical-rl;
  white-space: nowrap;
  transform: rotate(-180deg);
}

.daily-summary {
  padding: 20px 0 80px 0;
}
.daily-summary > h1 {
  padding-bottom: 20px;
  font-weight: 500;
}
.daily-summary > p {
  font-size: 1.125rem;
}
@media (max-width: 1240px) {
  .daily-summary {
    padding: 0 0 20px 0;
  }
  .daily-summary > h1 {
    padding-bottom: 10px;
  }
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 320px 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
@media (max-width: 1240px) {
  .dashboard {
    grid-template-rows: 280px 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
.dashboard > .activity {
  grid-area: 1/1/2/4;
  background-color: #fbfbfb;
  border-radius: 5px;
}
.dashboard > .sessions {
  aspect-ratio: 1;
  background-color: #ff0000;
  border-radius: 5px;
  grid-area: 2/1/3/2;
}
.dashboard > .performance {
  aspect-ratio: 1;
  background-color: #282d30;
  border-radius: 5px;
  grid-area: 2/2/3/3;
}
.dashboard > .score {
  aspect-ratio: 1;
  background-color: #fbfbfb;
  border-radius: 5px;
  grid-area: 2/3/3/4;
}
.dashboard > .nutrition {
  grid-area: 1/4/3/5;
}